body{
    background-color: rgb(24, 17, 17);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

}

.sections{
    background-color: black;
    height: 20px;
    width: 20px;
    margin: 0;
    display: inline-block;
}

.sections2{
    background-color: black;
    height: 20px;
    width: 20px;
    margin: 0;
    display: block;
    margin: 0;

}


.container{
    background-color: rgb(16, 15, 16);
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 9px solid rgb(9, 17, 9);
    
}

.new{
    background-color: white;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 0;
}

.new2{
    background-color: white;
    height: auto;
    width: auto;
    display: block;
    margin: 0;
    margin-bottom: 0;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
}

.sketch{
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-top: none;
    
}

#input{
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 2rem;

}

#input:focus {
    outline: none;
}


.buttonsss{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    padding: 1rem;
    width: 50%;
    
}

.button{
    height: 2rem;
    border-radius: 2rem;
    border: none;
    margin-bottom: 1rem;
    
}

.buttonsss > #button{
    margin-top: -2rem;
    margin-bottom: 2rem;
}
